.navigation-link {
	@include flex-row(initial, center);

	&__item {
		margin-left: 10px;

		.link {
			color: #a0a0a0;
			padding: 10px 15px;
			border-radius: 5px;

			&:hover {
				color: white;
				background: $color-bg3;
			}
		}

		&:last-child {
			.link {
				background: $color-theme;
				color: white;

				&:hover {
					background: $color-theme2;
				}
			}
		}
	}
}
