.project-card {
    @include flex-col(initial, initial);
    height: 420px;
    overflow: hidden;
    box-shadow: 0px 0px 5px #a0a0a0;
    background: white;

    &:hover {
        .date {
            opacity: 1;
        }
    }

    &__head {
        @include flex-col(start, end);
        width: 100%;
        height: 180px;
        overflow: hidden;
        box-shadow: 0px 0px 5px #a0a0a0;
        background: $color-bg3;
        padding: 10px;

        .date {
            @include transition;
            color: white;
            padding: 2px 5px;
            border-radius: 3px;
            background: rgba(0, 0, 0, 0.3);
            text-shadow: 1px 1Px 3px black;
            opacity: 0;
        }
    }

    &__body {
        flex: 1;
        padding: 10px;
        overflow: hidden;
        text-align: center;
    }

    &__title {
        @include flex-row(space-between, center);

        .title {
            @include flex-row(initial, center);
        }

        .text {
            font-size: 18px;
        }

        .logo {
            margin-right: 5px;
            width: 26px;
            height: 26px;
        }

        .repo-link {
            @include transition;
            display: inline-block;
            padding: 2px 5px;
            font-size: 15px;
            background: $color-bg;
            border-radius: 3px;
            color: white;
            border: 1px $color-bg solid;

            &:hover {
                background: $color-bg2;
                color: $color-bg;
            }
        }
    }

    &__techno {
        @include flex-row(initial, initial);
        margin-bottom: 10px;

        .item {
            margin-right: 5px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__divider {
        width: 100%;
        height: 1px;
        background: rgb(223, 223, 223);
        margin: 10px 0;
    }

    &__description {
        height: 72px;
        font-size: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__view {
        @include transition;
        display: inline-block;
        margin-top: 10px;
        border-radius: 5px;
        border: none;
        color: white;
        background: $color-theme;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
            background: $color-theme2;
            color: white;
        }
    }
}
