/**
 * Setup global style variables
 */

$color-bg: #282828;
$color-bg1: #111111;
$color-bg2: #f7f7f7;
$color-theme: #dd0031;
$color-theme2: #ff5378;
$color-p: #5c727d;
$color-title: #222222;

$font-regular: "Montserrat Regular";
$font-bold: "Montserrat Bold";

$navbar-size: 76px;
$line-height: 1.6;
$fs-p: 18px;
$fs-h1: 3.2em;
$fs-h2: 2.7em;
$fs-h3: 2.2em;
$fs-h4: 2em;
$fs-h5: 1.8em;

$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 480px;
